<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.AuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecializationServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.SpecializationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberCatalogServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.MemberCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookBorrowServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.BookBorrowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRequestServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.ProcessRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCirculationDataServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.GetCirculationDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberRequestsServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.MemberRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberActiveLoansServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.MemberActiveLoansServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberHistoryServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.MemberHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberRenewServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.MemberRenewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDetailsServlet</servlet-name>
        <servlet-class>com.mycompany.smartlibrary.controller.MemberDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorServlet</servlet-name>
        <url-pattern>/AuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecializationServlet</servlet-name>
        <url-pattern>/SpecializationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberCatalogServlet</servlet-name>
        <url-pattern>/MemberCatalogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookBorrowServlet</servlet-name>
        <url-pattern>/BookBorrowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRequestServlet</servlet-name>
        <url-pattern>/admin/process-request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCirculationDataServlet</servlet-name>
        <url-pattern>/admin/get-circulation-data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/api/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/api/members</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/api/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberRequestsServlet</servlet-name>
        <url-pattern>/MemberRequestsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberActiveLoansServlet</servlet-name>
        <url-pattern>/api/member/loans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/admin/return-book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberHistoryServlet</servlet-name>
        <url-pattern>/api/member/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberRenewServlet</servlet-name>
        <url-pattern>/MemberRenewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDetailsServlet</servlet-name>
        <url-pattern>/MemberDetailsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
